/* Website runs on Bootstrap Templates. This main.css file overrides some of 
the default settings associated with said Template. 
This main.css file will override to include my choice of colors, some resizing
and formatting pictures created on it.
*/

.jumbotron {

  background-color: #009688;
  color: #212121;

}

.jumbotron .container p {

  color: #ffffff;

}

.navbar-inverse .navbar-brand {

  color: #ffffff;

}

a {

  color: #212121;

}

a.navbar-brand {

	font-size: 12px;
	height: 30px;

}

img {
	margin-left: auto;
	margin-right: auto;
	border: 2px;
	border-color: black;
}

.lead {

	font-size: 15px;

}

.btn-primary {
	
	background-color: #727272;
	border-color: #212121;

	}

	.h2, h2 {

		font-size: 23px;

	}


